div#auth-area.logged-out > div#login,
div#auth-area.logged-in > div#logout,
div#auth-area.loading > div#loading {
    display: block;
}

div#login, div#logout, div#loading {
    display: none;
}

div#main {
    display: none;
}

div#main.active {
    display: block;
}

textarea#chat {
    width: 600px;
    height: 400px;
    display:block;
}

input#input {
    width:600px;
    height: 2em;
}