%%-*- mode: erlang -*-
{lib_dirs, ["apps", "deps"]}.
{sub_dirs, ["apps/boffo_auth",
            "apps/boffo_frontend",
            "apps/boffo_game",
            "apps/boffo_mgr",
            "apps/boffo_user"]}.
{deps, [
        {mochiweb, ".*",
         {git, "git://github.com/mochi/mochiweb.git", "master"}},
        {bcrypt, ".*",
         {git, "git://github.com/smarkets/erlang-bcrypt.git", "master"}}
       ]}.
